*.o
*.ali
*.exe
babachess
adachess
obj/*
gnatinspect.*
*.log
*.xml
.~*
.#
/babachess-loc.xml
/adachess-loc.xml
.idea
.idea/*
.omo/
*.zip
books/*
debug/*
opt/*
*.txt
obj_bb/
bin_bb/
obj/
bin/
*.pgn

gmon.out
perf.data*
